<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Common" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Common.Abstractions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Common.Extensions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Common.WildcardMatch" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Conditions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Common" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Api" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Core" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Model" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Registry" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Serialization" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Marketing" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Automation.Activity" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Automation.Models" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Taxonomy" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Diagnostics" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Conditions" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.Common.Web" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.MarketingAutomation.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
</packages>