<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Caching" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Configuration" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling.Data" version="6.0.1304.1" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling.ServiceBus" version="6.0.1304.0" targetFramework="net462" />
  <package id="EnterpriseLibrary.TransientFaultHandling.WindowsAzure.Storage" version="6.0.1304.0" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.OData.Edm" version="7.2.0" targetFramework="net462" />
  <package id="Mvp.Xml" version="2.3.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="net462" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="Sitecore.Framework.Conditions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Rules.Abstractions" version="1.1.28" targetFramework="net462" />
  <package id="Sitecore.Kernel" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ListManagement" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ListManagement.XConnect" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Logging" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Logging.Client" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Taxonomy" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.NVelocity" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Services.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Engine" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.ExpressionBuilder.Model" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Segmentation.Predicates.Model" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.Common.Web" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.ReferenceData.Core" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Zip" version="9.0.171002" targetFramework="net462" developmentDependency="true" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
</packages>